* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #23376D;
    color: white;
    text-align: center;
    padding: 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #7d0a42;
}

#menu {
    background-color: #eeeeee;
}

#menu ul li{
    display: block;
    float: left;
    border: 2px solid #23376D;
}

#menu ul li a {
    color: #444;
    padding: 15px;
    display: block;
    font-size: 18px;
    color: #6a0c3c;
}

#menu ul li a:hover {
    background-color: #23376D;
    color: white;
}

.clearfix {
    float: none;
    clear: both;
}

#contenido {
    padding: 20px;
    border: 4px solid #23376D;
}

.descripcion {
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    background-color: #23376D;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;    
    width: 100%;
}

#imagen-kinal {
    text-align: center;
    margin-bottom: 50px;
}

.img-carreras {
    width: 300px;
}

#contenido-ct {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.parrafo-ct {
    color: #444;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h1{
    text-align: center;
}

b{
    text-align: center;
}
